@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./layout/layout.scss";
@import "./animations/animations.scss";
//@import "./variables/variables.scss";

*::-webkit-scrollbar {
    display: none;
}

// remove input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type=number] {
  -moz-appearance: textfield !important;
}

select,
textarea,
input {
    -webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important;
}

* {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

 @media (pointer: fine) {
     .custom-scroll::-webkit-scrollbar {
         display: block;
         height: 6px;
         opacity: 0;
     }
     
     .custom-scroll:hover::-webkit-scrollbar {
         visibility: visible;
         background-color: rgba(255, 255, 255, 0);
         width: 16px;
         height: 6px;
     }
     
     .custom-scroll::-webkit-scrollbar-track {
         background-color: rgba(46, 8, 8, 0);
     }
     
     .custom-scroll:hover::-webkit-scrollbar-thumb {
         background-color: #747475;
     
     }
     
     .custom-scroll::-webkit-scrollbar-thumb {
         background-color: #74747500;
         border-radius: 16px;
     }
     
     .custom-scroll::-webkit-scrollbar-button {
         display:none;
     }
 }

/* style of the notifications (see https://github.com/kyvg/vue3-notification) */

.my-notification {
    margin: 0 5px 5px;
    padding: 10px;
    font-size: 12px;
    color: rgb(255 255 255);

    border-left: 5px solid rgb(35 35 37);

    &.warn {
        background: rgb(24 24 27);
        border-left-color: rgb(35 35 37);
    }
}
  
